<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
    <link rel="stylesheet" href="/style.css">

    {{{_sections.css}}}
</head>

<body>
    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- Top Header Area -->
        <div class="top-header-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="top-header-content d-flex align-items-center justify-content-between">
                            <!-- Breaking News Area -->
                            <div class="top-breaking-news-area">
                                <div id="breakingNewsTicker" class="ticker">
                                    <ul>
                                        {{#each this.news3}}
                                        <li><a href="/post/{{url}}">{{title}}</a></li>
                                        {{/each}}
                                    </ul>
                                </div>
                            </div>

                            <!-- Social Info Area-->
                            <div class="top-social-info-area">
                                <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navbar Area -->
        <div class="viral-news-main-menu" id="stickyMenu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="viralnewsNav">

                        <!-- Logo -->
                        <a class="nav-brand" href="/"><img src="/img/core-img/logo.png" alt="Logo"></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="#">Phim ảnh</a></li>
                                    <li><a href="#">Chuyên mục</a>
                                        <ul class="dropdown">
                                            {{#each projects}}
                                            <li><a href="#">{{name}}</a>
                                                <ul class="dropdown">
                                                    {{#each ../categories}}
                                                    {{#if (opt ../id '==' id_project opt) }}
                                                    <li><a href="/category/{{url}}">{{name}}</a></li>
                                                    {{/if}}
                                                    {{/each}}
                                                </ul>
                                            </li>
                                            {{/each}}
                                        </ul>
                                    </li>
                                    {{!-- <li><a href="#">Tin game</a></li>
                                    <li><a href="#">Cafebiz</a></li>
                                    <li><a href="#">Videos</a></li>
                                    <li><a href="#">Mega Menu</a>
                                        <div class="megamenu">
                                            <ul class="single-mega cn-col-4">
                                                <li><a href="#">Thời sự</a></li>
                                                <li><a href="#">Pháp luật</a></li>
                                                <li><a href="#">Thế giới</a></li>
                                                <li><a href="#">Kinh doanh</a></li>
                                                <li><a href="#">Công nghệ</a></li>
                                            </ul>
                                            <ul class="single-mega cn-col-4">
                                                <li><a href="#">Thể thao</a></li>
                                                <li><a href="#">Giải trí</a></li>
                                                <li><a href="#">Sống trẻ</a></li>
                                                <li><a href="#">Xe 360</a></li>
                                                <li><a href="#">Âm nhạc</a></li>
                                            </ul>
                                            <ul class="single-mega cn-col-4">
                                                <li><a href="#">Phim ảnh</a></li>
                                                <li><a href="#">Thời trang</a></li>
                                                <li><a href="#">Xuất bản</a></li>
                                                <li><a href="#">Giáo dục</a></li>
                                                <li><a href="#">Sức khỏe</a></li>
                                            </ul>
                                            <ul class="single-mega cn-col-4">
                                                <li><a href="#">Du lịch</a></li>
                                                <li><a href="#">Ẩm thực</a></li>
                                                <li><a href="#">Nhịp sống</a></li>
                                            </ul>
                                        </div>
                                    </li> --}}
                                </ul>

                                <!-- Search Button -->
                                <div class="search-btn">
                                    <i id="searchbtn" class="fa fa-search" aria-hidden="true"></i>
                                </div>

                                <!-- Search Form -->
                                <div class="viral-search-form">
                                    <form id="search" action="#" method="get">
                                        <input type="text" name="search-terms" placeholder="Enter your keywords ...">
                                        <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                                    </form>
                                </div>

                                <form id="frmSignout" action="/logout" method="POST"></form>

                                {{#if isAuthenticated}}
                                <ul>
                                    <li><a href="#">Hi, <b>{{authUser.name}}</a>
                                        <ul class="dropdown">
                                            <li><a href="/profile">Profile</a></li>
                                            <li><a href="javascript: $('#frmSignout').submit();">Logout</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                {{else}}
                                <ul>
                                    <li>
                                        <a href="/signin">Đăng nhập</a>
                                    </li>
                                </ul>
                                {{/if}}

                                {{!-- <div class="add-post-button">
                                    <a href="/admin/signin" class="btn add-post-btn">Đăng nhập</a>
                                </div> --}}

                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    {{{body}}}

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">

        <!-- Main Footer Area -->
        <div class="main-footer-area">
            <div class="container">
                <div class="row">

                    <!-- Footer Widget Area -->
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="footer-widget-area">
                            <!-- Footer Logo -->
                            <div class="footer-logo">
                                <a href="/"><img src="/img/core-img/logo.png" alt=""></a>
                            </div>
                            <!-- Footer Nav -->
                            <div class="footer-nav">
                                <ul>
                                    <li class="active"><a href="#">Top 10</a></li>
                                    <li><a href="#">FAQ</a></li>
                                    <li><a href="#">Funny</a></li>
                                    <li><a href="#">Advertising</a></li>
                                    <li><a href="#">Celebs</a></li>
                                    <li><a href="#">Lifestyle</a></li>
                                    <li><a href="#">Videos</a></li>
                                    <li><a href="#">Travel</a></li>
                                    <li><a href="#">Features</a></li>
                                    <li><a href="#">Submit a video</a></li>
                                    <li><a href="#">Don’tMiss</a></li>
                                    <li><a href="#">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4">
                        <!-- Newsletter Widget -->
                        <div class="newsletter-widget">
                            <h4>Sign up to <br>our newsletter</h4>
                            <form action="#" method="post">
                                <input type="text" name="text" placeholder="Name">
                                <input type="email" name="email" placeholder="Email">
                                <button type="submit" class="btn w-100">Subscribe</button>
                            </form>
                        </div>
                    </div>

                    <!-- Footer Widget Area -->
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="footer-widget-area">
                            <!-- Widget Title -->
                            <h4 class="widget-title">Tin gần đây</h4>

                            {{#each this.news3}}
                            <!-- Single Latest Post -->
                            <div class="single-blog-post style-2 d-flex align-items-center">
                                <div class="post-thumb">
                                    <!-- 89x91 -->
                                    <a href="/post/{{url}}"><img style="width: 90px; height: 90px;"
                                            src="{{url_thumbnail}}" alt=""></a>
                                </div>
                                <div class="post-data">
                                    <a href="/post/{{url}}" class="post-title">
                                        <h6>{{title}}</h6>
                                    </a>
                                    <div class="post-meta">
                                        <p class="post-date"><a>{{formatTime posted_at "DD/MM/YYYY HH:mm"}}</a></p>
                                    </div>
                                </div>
                            </div>
                            {{/each}}

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bottom Footer Area -->
        <div class="bottom-footer-area">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <!-- Copywrite -->
                        <p>
                            <a href="#">
                                Copyright &copy;
                                <script>
                                    document.write(new Date().getFullYear());
                                </script> All rights reserved | <i class="fa fa-heart-o" aria-hidden="true"></i> by <a
                                    href="https://www.facebook.com/ntuan.2502" target="_blank">NAT</a>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/js/jquery/jquery-2.2.4.min.js"></script>
    <script src="/js/bootstrap/popper.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <script src="/js/plugins/plugins.js"></script>
    <script src="/js/active.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>




    {{{_sections.js}}}
</body>

</html>