{{#if this.error}}
<div class="alert alert-danger" role="alert">
    Invalid link. <a href="/" class="alert-link">Go back</a>.
</div>
{{else}}
<!-- ##### Viral News Breadcumb Area Start ##### -->
<div class="viral-news-breadcumb-area section-padding-50">
    <div class="container h-100">
        <div class="row h-100 align-items-center">

            <!-- Breadcumb Area -->
            <div class="col-12 col-md-12">
                <h3>
                    {{this.category.name}}
                </h3>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">
                            {{this.category.name}}
                        </li>
                    </ol>
                </nav>
            </div>

            <!-- Add Widget -->
            {{!-- <div class="col-12 col-md-8">
                <div class="add-widget">
                    <a href="#"><img src="/img/bg-img/add2.png" alt=""></a>
                </div>
            </div> --}}
        </div>
    </div>
</div>
<!-- ##### Viral News Breadcumb Area End ##### -->

<!-- ##### Blog Post Area Start ##### -->
<div class="viral-story-blog-post section-padding-0-50">

    <!-- Catagory Featured Post -->
    <div class="catagory-featured-post section-padding-100">
        <div class="container">
            <div class="row">
                <!-- Catagory Thumbnail -->
                <div class="col-12 col-md-7">
                    <div class="cata-thumbnail">
                        <a href="/post/{{this.topPost.url_post}}">
                            <img style="width: 635px; height: 360px;" src="{{this.topPost.url_thumbnail}}" alt="">
                        </a>
                    </div>
                </div>
                <!-- Catagory Content -->
                <div class="col-12 col-md-5">
                    <div class="cata-content">
                        <a href="{{this.category.url}}" class="post-catagory">
                            {{this.category.name}}
                        </a>
                        <a href="/post/{{this.topPost.url_post}}">
                            <h2>
                                {{this.topPost.title}}
                            </h2>
                        </a>
                        <div class="post-meta">
                            <p class="post-author">Tag
                                <a href="avengers-endgame">Avengers Endgame</a>, <a href="#">Tony Stark</a>
                            </p>
                            <p class="post-date">{{this.topPost.posted_at}}</p>
                        </div>
                        <p class="post-excerp">{{this.topPost.abstract}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <!-- Blog Posts Area -->
            <div class="col-12 col-lg-12">
                <div class="row">

                    {{#each this.skipTopPost}}
                    <!-- Single Blog Post -->
                    <div class="col-12 col-lg-4">
                        <div class="single-blog-post style-3">
                            <!-- Post Thumb -->
                            <div class="post-thumb">
                                <a href="/post/{{url_post}}">
                                    <img style="width: 350px; height: 259px;" src="{{url_thumbnail}}" alt="">
                                </a>
                            </div>
                            <!-- Post Data -->
                            <div class="post-data">
                                <a href="{{../this.category.url}}" class="post-catagory">{{../this.category.name}}</a>
                                <a href="/post/{{url_post}}" class="post-title">
                                    <h6>{{title}}</h6>
                                </a>
                                <div class="post-meta">
                                    <p class="post-author">Tag
                                        <a href="#">Avengers Endgame</a>, <a href="#">Tony Stark</a>
                                    </p>
                                    <p class="post-date">{{posted_at}}</p>
                                </div>
                                <p class="post-excerp">{{abstract}}</p>
                            </div>
                        </div>
                    </div>
                    {{/each}}

                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="viral-news-pagination">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                    <li class="page-item"><a class="page-link" href="#">01</a></li>
                                    <li class="page-item"><a class="page-link" href="#">02</a></li>
                                    <li class="page-item"><a class="page-link" href="#">03</a></li>
                                    <li class="page-item"><a class="page-link" href="#">04</a></li>
                                    <li class="page-item"><a class="page-link" href="#">05</a></li>
                                    <li class="page-item"><a class="page-link" href="#">...</a></li>
                                    <li class="page-item"><a class="page-link" href="#">15</a></li>
                                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<!-- ##### Blog Post Area End ##### -->
{{/if}}