{{#if this.error}}
<div class="alert alert-danger" role="alert">
    Invalid link. <a href="/" class="alert-link">Go back</a>.
</div>
{{else}}
<!-- ##### Viral News Breadcumb Area Start ##### -->
<div class="viral-news-breadcumb-area section-padding-50">
    <div class="container h-100">
        <div class="row h-100 align-items-center">

            <!-- Breadcumb Area -->
            <div class="col-12 col-md-4">
                <h3>
                    {{this.category.name}}
                </h3>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">
                            {{this.category.name}}
                        </li>
                    </ol>
                </nav>
            </div>

            <!-- Add Widget -->
            <div class="col-12 col-md-8">
                <div class="add-widget">
                    <a href="#"><img src="/img/bg-img/add2.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Viral News Breadcumb Area End ##### -->

<!-- ##### Blog Post Area Start ##### -->
<div class="viral-story-blog-post section-padding-0-50">

    <!-- Catagory Featured Post -->
    <div class="catagory-featured-post section-padding-100">
        <div class="container">
            <div class="row">
                <!-- Catagory Thumbnail -->
                <div class="col-12 col-md-7">
                    <div class="cata-thumbnail">
                        <a href="nhung-cau-hoi-lon-avengers-endgame-phai-tra-loi"><img
                                style="width: 635px; height: 360px;"
                                src="https://znews-photo.zadn.vn/w480/Uploaded/bpivpjbp/2018_10_29/endgame5.jpg"
                                alt=""></a>
                    </div>
                </div>
                <!-- Catagory Content -->
                <div class="col-12 col-md-5">
                    <div class="cata-content">
                        <a href="{{this.category.url}}" class="post-catagory">
                            {{this.category.name}}
                        </a>
                        <a href="nhung-cau-hoi-lon-avengers-endgame-phai-tra-loi">
                            <h2>Những câu hỏi lớn "Avengers: Endgame" phải trả lời</h2>
                        </a>
                        <div class="post-meta">
                            <p class="post-author">Tag <a href="avengers-endgame">Avengers Endgame</a>, <a href="#">Tony
                                    Stark</a> </p>
                            <p class="post-date">14:08 20/04/2019</p>
                        </div>
                        <p class="post-excerp">Bom tấn "Avengers: Endgame" sẽ công phá các rạp chiếu từ ngày 26/4. Các
                            siêu anh hùng sẽ làm gì để đảo ngược cú búng tay định mệnh của Thanos và giải cứu mọi người?
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <!-- Blog Posts Area -->
            <div class="col-12 col-lg-12">
                <div class="row">

                    <!-- Single Blog Post -->
                    <div class="col-12 col-lg-4">
                        <div class="single-blog-post style-3">
                            <!-- Post Thumb -->
                            <div class="post-thumb">
                                <a href="#"><img style="width: 350px; height: 259px;"
                                        src="https://znews-photo.zadn.vn/w480/Uploaded/mdf_rkxrxd/2019_04_29/Avengers_endgame_1_1.jpg"
                                        alt=""></a>
                            </div>
                            <!-- Post Data -->
                            <div class="post-data">
                                <a href="#" class="post-catagory">PHIM ẢNH</a>
                                <a href="#" class="post-title">
                                    <h6>Trong kịch bản đầu tiên, 'Avengers: Endgame' diễn biến như thế nào?</h6>
                                </a>
                                <div class="post-meta">
                                    <p class="post-author">Tag <a href="#">Avengers Endgame</a>, <a href="#">Tony
                                            Stark</a> </p>
                                    <p class="post-date">5 Hours Ago</p>
                                </div>
                                <p class="post-excerp">Để cho ra một siêu phẩm hoàn hảo nhất có thể, biên kịch của
                                    'Avengers: Endgame' đã phải dựng lên nhiều ý tưởng khác nhau trước khi đi đến kịch
                                    bản cuối cùng.</p>
                            </div>
                        </div>
                    </div>

                    <!-- Single Blog Post -->
                    <div class="col-12 col-lg-4">
                        <div class="single-blog-post style-3">
                            <!-- Post Thumb -->
                            <div class="post-thumb">
                                <a href="#"><img style="width: 350px; height: 259px;"
                                        src="https://znews-photo.zadn.vn/w480/Uploaded/xbhunku/2019_04_29/e15.jpg"
                                        alt=""></a>
                            </div>
                            <!-- Post Data -->
                            <div class="post-data">
                                <a href="#" class="post-catagory">PHIM ẢNH</a>
                                <a href="#" class="post-title">
                                    <h6>Những chi tiết thú vị ẩn giấu trong bom tấn 'Avengers: Endgame'</h6>
                                </a>
                                <div class="post-meta">
                                    <p class="post-author">Tag <a href="#">Avengers Endgame</a>, <a href="#">Tony
                                            Stark</a> </p>
                                    <p class="post-date">5 Hours Ago</p>
                                </div>
                                <p class="post-excerp">Bom tấn siêu anh hùng mới nhất của Marvel Studios chẳng khác nào
                                    một bữa đại tiệc 'trứng phục sinh' để các fan tìm kiếm, soi xét, và suy đoán.</p>
                            </div>
                        </div>
                    </div>

                    <!-- Single Blog Post -->
                    <div class="col-12 col-lg-4">
                        <div class="single-blog-post style-3">
                            <!-- Post Thumb -->
                            <div class="post-thumb">
                                <a href="#"><img style="width: 350px; height: 259px;"
                                        src="https://znews-photo.zadn.vn/w480/Uploaded/bzcvolp3/2019_04_29/ironmantony.jpg"
                                        alt=""></a>
                            </div>
                            <!-- Post Data -->
                            <div class="post-data">
                                <a href="#" class="post-catagory">PHIM ẢNH</a>
                                <a href="#" class="post-title">
                                    <h6>Iron Man - siêu anh hùng vĩ đại nhất</h6>
                                </a>
                                <div class="post-meta">
                                    <p class="post-author">Tag <a href="#">Avengers Endgame</a>, <a href="#">Tony
                                            Stark</a> </p>
                                    <p class="post-date">5 Hours Ago</p>
                                </div>
                                <p class="post-excerp">Trong thế giới truyện tranh, Iron Man thua kém Batman và Superman
                                    của DC, Spider-Man và Wolverine từ Marvel. Nhưng trên màn ảnh lớn, không ai có thể
                                    so được với Tony Stark.</p>
                            </div>
                        </div>
                    </div>

                    <!-- Single Blog Post -->
                    <div class="col-12 col-lg-4">
                        <div class="single-blog-post style-3">
                            <!-- Post Thumb -->
                            <div class="post-thumb">
                                <a href="#"><img style="width: 350px; height: 259px;"
                                        src="https://znews-photo.zadn.vn/w480/Uploaded/mdf_rkxrxd/2019_04_29/avaend1.jpeg"
                                        alt=""></a>
                            </div>
                            <!-- Post Data -->
                            <div class="post-data">
                                <a href="#" class="post-catagory">PHIM ẢNH</a>
                                <a href="#" class="post-title">
                                    <h6>Với 1,2 tỷ USD doanh thu tuần đầu, 'Endgame' liệu có vượt 'Avatar'?</h6>
                                </a>
                                <div class="post-meta">
                                    <p class="post-author">Tag <a href="#">Avengers Endgame</a>, <a href="#">Tony
                                            Stark</a> </p>
                                    <p class="post-date">5 Hours Ago</p>
                                </div>
                                <p class="post-excerp">Doanh thu 1,2 tỷ USD sau tuần đầu công chiếu liệu có phải là tín
                                    hiệu cho thấy "Avengers: Endgame" sẽ soán ngôi "Avatar" ở danh sách phim có doanh
                                    thu cao nhất mọi thời đại?</p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Blog Post -->
                    <div class="col-12 col-lg-4">
                        <div class="single-blog-post style-3">
                            <!-- Post Thumb -->
                            <div class="post-thumb">
                                <a href="#"><img style="width: 350px; height: 259px;"
                                        src="https://znews-photo.zadn.vn/w480/Uploaded/xbhunku/2019_04_29/58379605_379647249302285_3675327566727610368_n.jpg"
                                        alt=""></a>
                            </div>
                            <!-- Post Data -->
                            <div class="post-data">
                                <a href="#" class="post-catagory">PHIM ẢNH</a>
                                <a href="#" class="post-title">
                                    <h6>Avengers: 'Endgame' thu hơn 112 tỷ đồng tại Việt Nam chỉ sau 3 ngày</h6>
                                </a>
                                <div class="post-meta">
                                    <p class="post-author">Tag <a href="#">Avengers Endgame</a>, <a href="#">Tony
                                            Stark</a> </p>
                                    <p class="post-date">5 Hours Ago</p>
                                </div>
                                <p class="post-excerp">Giống như tại nhiều nơi trên thế giới, 'Avengers: Endgame' lập kỳ
                                    tích trong ba ngày trình chiếu đầu tiên ở Việt Nam.</p>
                            </div>
                        </div>
                    </div>

                    <!-- Single Blog Post -->
                    <div class="col-12 col-lg-4">
                        <div class="single-blog-post style-3">
                            <!-- Post Thumb -->
                            <div class="post-thumb">
                                <a href="#"><img style="width: 350px; height: 259px;"
                                        src="https://znews-photo.zadn.vn/w480/Uploaded/ofh_wuytgazs/2018_05_31/endcap.jpg"
                                        alt=""></a>
                            </div>
                            <!-- Post Data -->
                            <div class="post-data">
                                <a href="#" class="post-catagory">PHIM ẢNH</a>
                                <a href="#" class="post-title">
                                    <h6>Điểm vô lý gây nhức não nhất trong bom tấn 'Avengers: Endgame'</h6>
                                </a>
                                <div class="post-meta">
                                    <p class="post-author">Tag <a href="#">Avengers Endgame</a>, <a href="#">Tony
                                            Stark</a> </p>
                                    <p class="post-date">5 Hours Ago</p>
                                </div>
                                <p class="post-excerp">Siêu phẩm 'Avengers: Endgame' đang khiến cả thế giới phát cuồng
                                    và được giới phê bình ca ngợi. Tuy nhiên, bom tấn của Marvel Studios không phải là
                                    không có những hạt sạn to đùng.</p>
                            </div>
                        </div>
                    </div>

                    <!-- Single Blog Post -->
                    <div class="col-12 col-lg-4">
                        <div class="single-blog-post style-3">
                            <!-- Post Thumb -->
                            <div class="post-thumb">
                                <a href="#"><img style="width: 350px; height: 259px;"
                                        src="https://znews-photo.zadn.vn/w480/Uploaded/xbhunku/2019_04_27/q3.jpg"
                                        alt=""></a>
                            </div>
                            <!-- Post Data -->
                            <div class="post-data">
                                <a href="#" class="post-catagory">PHIM ẢNH</a>
                                <a href="#" class="post-title">
                                    <h6>6 câu hỏi lớn 'Avengers: Endgame' để lại cho khán giả</h6>
                                </a>
                                <div class="post-meta">
                                    <p class="post-author">Tag <a href="#">Avengers Endgame</a>, <a href="#">Tony
                                            Stark</a> </p>
                                    <p class="post-date">5 Hours Ago</p>
                                </div>
                                <p class="post-excerp">Đoạn kết bi tráng của 10 năm đầu tiên Vũ trụ Điện ảnh Marvel tiếp
                                    tục để lại những câu hỏi thách thức khán giả, và cần thêm thời gian mới có đáp án
                                    chính xác.</p>
                            </div>
                        </div>
                    </div>



                    <!-- Single Blog Post -->
                    <div class="col-12 col-lg-4">
                        <div class="single-blog-post style-3">
                            <!-- Post Thumb -->
                            <div class="post-thumb">
                                <a href="#"><img style="width: 350px; height: 259px;"
                                        src="https://znews-photo.zadn.vn/w480/Uploaded/bpivpjbp/2018_07_30/cap2.jpg"
                                        alt=""></a>
                            </div>
                            <!-- Post Data -->
                            <div class="post-data">
                                <a href="#" class="post-catagory">PHIM ẢNH</a>
                                <a href="#" class="post-title">
                                    <h6>‘Avengers: Endgame’ hầu như chắc chắn kiếm 1 tỷ USD sau tuần đầu</h6>
                                </a>
                                <div class="post-meta">
                                    <p class="post-author">Tag <a href="#">Avengers Endgame</a>, <a href="#">Tony
                                            Stark</a> </p>
                                    <p class="post-date">5 Hours Ago</p>
                                </div>
                                <p class="post-excerp">Bom tấn “Avengers: Endgame” bán được tới hơn 643 triệu USD tiền
                                    vé trên phạm vi toàn cầu tính đến hết ngày 26/4 và nhiều khả năng sẽ chạm mốc 1 tỷ
                                    USD sau tuần đầu công chiếu.</p>
                            </div>
                        </div>
                    </div>

                    <!-- Single Blog Post -->
                    <div class="col-12 col-lg-4">
                        <div class="single-blog-post style-3">
                            <!-- Post Thumb -->
                            <div class="post-thumb">
                                <a href="#"><img style="width: 350px; height: 259px;"
                                        src="https://znews-photo.zadn.vn/w480/Uploaded/mdf_rkxrxd/2019_04_27/Avengers_endgame_3.jpg"
                                        alt=""></a>
                            </div>
                            <!-- Post Data -->
                            <div class="post-data">
                                <a href="#" class="post-catagory">PHIM ẢNH</a>
                                <a href="#" class="post-title">
                                    <h6>Người khổng lồ xanh lỡ lời tiết lộ kết cục 'Avengers: Endgame'</h6>
                                </a>
                                <div class="post-meta">
                                    <p class="post-author">Tag <a href="#">Avengers Endgame</a>, <a href="#">Tony
                                            Stark</a> </p>
                                    <p class="post-date">5 Hours Ago</p>
                                </div>
                                <p class="post-excerp">Sau Tom Holland, Marvel tiếp tục có thêm một ngôi sao khác “kém
                                    cỏi” trong khoản giữ bí mật nội dung phim, đó là Người khổng lồ xanh Mark Ruffalo.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="viral-news-pagination">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                    <li class="page-item"><a class="page-link" href="#">01</a></li>
                                    <li class="page-item"><a class="page-link" href="#">02</a></li>
                                    <li class="page-item"><a class="page-link" href="#">03</a></li>
                                    <li class="page-item"><a class="page-link" href="#">04</a></li>
                                    <li class="page-item"><a class="page-link" href="#">05</a></li>
                                    <li class="page-item"><a class="page-link" href="#">...</a></li>
                                    <li class="page-item"><a class="page-link" href="#">15</a></li>
                                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<!-- ##### Blog Post Area End ##### -->
{{/if}}