<!-- ##### Hero Area Start ##### -->
<div class="hero-area">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="hero-slides owl-carousel">

          <!-- Single Blog Post -->
          {{#each this.view10}}
          <div class="single-blog-post d-flex align-items-center mb-50">
            <div class="post-thumb">
              <!-- 130x130 -->
              <a href="/post/{{url}}"><img style="width: 130px; height: 130px;" src="{{url_thumbnail}}" alt=""></a>
            </div>
            <div class="post-data">
              <a href="/post/{{url}}" class="post-title">
                <h6>{{title}}</h6>
              </a>
              <div class="post-meta">
                <p class="post-date">{{formatTime posted_at "DD/MM/YYYY HH:mm"}}</p>
              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ##### Hero Area End ##### -->

<!-- ##### Welcome Slide Area Start ##### -->
<div class="welcome-slide-area">

  <div class="container">
    <h4></h4>
    <div class="row">
      <div class="col-12">
        <div class="welcome-slides owl-carousel">

          <!-- Single Welcome Slide -->
          {{#each this.news10}}
          <div class="single-welcome-slide">
            <div class="row no-gutters">
              <div class="col-lg-2">
                <a
                  href="https://log.adtimaserver.vn/track/click?params=YeWi9HR5ZqJb5Jk-jRqJIDWqrgWa4hV1N5g2rvto_brfIDatDCYtBru9Yhew0ShfZ-mA1j0z3hErUW9e8C-Y1zPsEvk4Z9_e0v--Cj84wvUsvITX_c8qDeU4AG4aZuhNjsY94W0jdZrtae1EJYrcXnnwV_cJyKT7P1mDlwbxLpPNw_gTalxUIxcHxUJNkhMp0oLte5Bqfrgw4ZfIdT4RN3_iz9SF4hm8xqGwT_2WBejQd94WLvqGFyJ_uEEI36-h6C8_H3bJkc7KvT_FjLQsVep-adPvwpQeJiPIqSOql29fN0rUrKqkYOvbEgbueb8IinmC_-v0isEI2GMlwImWNKGndQYKlSyB6xmWxZs7Ej6NjkgFJyaYCcbpw67iG6voiKW4bdrs&contentId=v1_web_other_home&trace=2185625233012470226.1994042083542255665&redirectUrl=https%3A%2F%2Fbs.serving-sys.com%2FServing%2FadServer.bs%3Fcn%3Dtrd%26pli%3D1074783812%26adid%3D1078679362%26ord%3D1559484734929">
                  <img style="height: 400px;"
                    src="https://adtima-media.zadn.vn/2019/05/c3dc1f65-12e8-4d77-8973-c832f9295139.jpg" alt="">
                </a>
              </div>
              <div class="col-12 col-lg-8">
                <!-- Welcome Post -->
                <div class="welcome-post">
                  <!-- 740x420 -->
                  <img style="width: 800px; height: 400px;" src="{{url_thumbnail}}" alt="">
                  <div class="post-content" data-animation="fadeInUp" data-duration="500ms">
                    <a href="/category/{{url_category}}" class="tag">{{name_category}}</a>
                    <a href="/post/{{url}}" class="post-title">{{title}}</a>
                    <p>
                      {{formatTime posted_at "DD/MM/YYYY HH:mm"}}
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-2">
                <a
                  href="https://log.adtimaserver.vn/track/click?params=YeWi9HR5ZqJb5Jk-jRqJIDWqrgWa4hV1N5g2rvto_brfIDatDCYtBru9Yhew0ShfZ-mA1j0z3hErUW9e8C-Y1zPsEvk4Z9_e0v--Cj84wvUsvITX_c8qDeU4AG4aZuhNjsY94W0jdZrtae1EJYrcXnnwV_cJyKT7P1mDlwbxLpPNw_gTalxUIxcHxUJNkhMp0oLte5Bqfrgw4ZfIdT4RN3_iz9SF4hm8xqGwT_2WBejQd94WLvqGFyJ_uEEI36-h6C8_H3bJkc7KvT_FjLQsVep-adPvwpQeJiPIqSOql29fN0rUrKqkYOvbEgbueb8IinmC_-v0isEI2GMlwImWNKGndQYKlSyB6xmWxZs7Ej6NjkgFJyaYCcbpw67iG6voiKW4bdrs&contentId=v1_web_other_home&trace=2185625233012470226.1994042083542255665&redirectUrl=https%3A%2F%2Fbs.serving-sys.com%2FServing%2FadServer.bs%3Fcn%3Dtrd%26pli%3D1074783812%26adid%3D1078679362%26ord%3D1559484734929">
                  <img style="height: 400px;"
                    src="https://adtima-media.zadn.vn/2019/05/c3dc1f65-12e8-4d77-8973-c832f9295139.jpg" alt="">
                </a>
              </div>

            </div>
          </div>
          {{/each}}

        </div>
      </div>
    </div>
  </div>
</div>
<!-- ##### Welcome Slide Area End ##### -->

<!-- ##### Blog Post Area Start ##### -->
<div class="viral-story-blog-post section-padding-0-50">
  <div class="container">
    <div class="row">
      <!-- Blog Posts Area -->
      <div class="col-12 col-lg-8">
        <h4>Top 10 chuyên mục</h4>
        <div class="row">

          {{#each this.top10Cat}}
          <!-- Single Blog Post -->
          <div class="col-12 col-lg-6">
            <div class="single-blog-post style-3">
              <!-- Post Thumb -->
              <div class="post-thumb">

                <a href="/post/{{url}}">
                  <img style="width: 350px; height: 259px" src="{{url_thumbnail}}" alt="">
                </a>
              </div>
              <!-- Post Data -->
              <div class="post-data">
                <a href="/category/{{url_category}}" class="post-catagory">{{name_category}}</a>
                <a href="/post/{{url}}" class="post-title">
                  <h6>{{title}}</h6>
                </a>
                <div class="post-meta">
                  <p class="post-date">{{formatTime posted_at "DD/MM/YYYY HH:mm"}}</p>
                </div>
              </div>
            </div>
          </div>
          {{/each}}


        </div>

        {{!-- <div class="row">
          <div class="col-12">
            <div class="viral-news-pagination">
              <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                  <li class="page-item"><a class="page-link" href="#">01</a></li>
                  <li class="page-item"><a class="page-link" href="#">02</a></li>
                  <li class="page-item"><a class="page-link" href="#">03</a></li>
                  <li class="page-item"><a class="page-link" href="#">04</a></li>
                  <li class="page-item"><a class="page-link" href="#">05</a></li>
                  <li class="page-item"><a class="page-link" href="#">...</a></li>
                  <li class="page-item"><a class="page-link" href="#">15</a></li>
                  <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div> --}}
      </div>

      <!-- Sidebar Area -->
      <div class="col-12 col-lg-4">
        <div class="sidebar-area">

          <!-- Trending Articles Widget -->
          <div class="treading-articles-widget mb-70">
            <h4>Xem nhiều nhất</h4>

            {{#each this.view10}}
            <!-- Single Trending Articles -->
            <div class="single-blog-post style-4">
              <!-- Post Thumb -->
              <div class="post-thumb">
                <!-- 350x117 -->
                <a href="/post/{{url}}">
                  <img style="width: 350px; height: 200px;" src="{{url_thumbnail}}" alt="">
                </a>
                {{!-- <span class="serial-number">1</span> --}}
              </div>
              <!-- Post Data -->
              <div class="post-data">
                <a href="/category/{{url_category}}" class="post-catagory cat-3">{{name_category}}</a>
                <a href="/post/{{url}}" class="post-title">
                  <h6>{{title}}</h6>
                </a>
                <div class="post-meta">
                  <p class="post-date">{{formatTime posted_at "DD/MM/YYYY HH:mm"}}</p>
                </div>
              </div>
            </div>
            {{/each}}

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- ##### Blog Post Area End ##### -->