{{#if this.error}}
<div class="alert alert-danger" role="alert">
    Invalid link. <a href="/" class="alert-link">Go back</a>.
</div>
{{else}}
<!-- ##### Viral News Breadcumb Area Start ##### -->
<div class="viral-news-breadcumb-area section-padding-50">
    <div class="container h-100">
        <div class="row h-100 align-items-center">

            <!-- Breadcumb Area -->
            <div class="col-12 col-md-12">
                <h3>{{this.post.title_post}}</h3>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a
                                href="/category/{{this.post.url_category}}">{{this.post.name_category}}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{this.post.title_post}}</li>
                    </ol>
                </nav>
            </div>

            <!-- Add Widget -->
            {{!-- <div class="col-12 col-md-8">
                    <div class="add-widget">
                        <a href="#"><img src="/img/bg-img/add2.png" alt=""></a>
                    </div>
                </div> --}}
        </div>
    </div>
</div>
<!-- ##### Viral News Breadcumb Area End ##### -->

<!-- ##### Blog Area Start ##### -->
<div class="blog-area section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-11">
                <div class="blog-posts-area">

                    <!-- Single Featured Post -->
                    <div class="single-blog-post-details">
                        <div class="post-data">
                            <h2 class="post-title">
                                {{this.post.title_post}}
                            </h2>
                            <a href="/category/{{this.post.url_category}}"
                                class="post-catagory">{{this.post.name_category}}</a>
                            <div class="post-meta">

                                <!-- Post Details Meta Data -->
                                <div
                                    class="post-details-meta-data mb-50 d-flex align-items-center justify-content-between">
                                    <!-- Post Author & Date -->
                                    <div class="post-authors-date">
                                        <p class="post-author">Đăng bởi <a>{{this.post.name_user}}</a></p>
                                        <p class="post-date">{{formatTime this.post.posted_at "DD/MM/YYYY HH:mm"}}</p>
                                        <p class="post-author">Tag <a href="#">{{this.post.tag}}</a></p>
                                    </div>
                                    <!-- View Comments -->
                                    <div class="view-comments">
                                        <p class="views">{{this.post.count_views}} lượt xem</p>
                                        <a href="#comments" class="comments">{{this.post.count_comment}} bình luận</a>
                                    </div>
                                </div>

                                <div>
                                    {{{this.post.content_post}}}
                                </div>

                            </div>
                        </div>
                        <!-- Login with Facebook to post comments -->
                        {{#if isAuthenticated}}
                        {{else}}
                        <div class="login-with-facebook my-5">
                            <a href="/signin">Login to post comments</a>
                        </div>
                        {{/if}}
                    </div>

                    <!-- Comment Area Start -->
                    <div class="comment_area clearfix" id="comments">
                        <h4 class="title mb-70">{{this.post.count_comment}} comment</h4>

                        <ol>
                            <!-- Single Comment Area -->
                            {{!-- <li class="single_comment_area">
                                <!-- Comment Content -->
                                <div class="comment-content d-flex">
                                    <!-- Comment Author -->
                                    <div class="comment-author">
                                        <img src="/img/bg-img/t1.jpg" alt="author">
                                    </div>
                                    <!-- Comment Meta -->
                                    <div class="comment-meta">
                                        <a href="#" class="post-author">Christian Williams</a>
                                        <a href="#" class="post-date">April 15, 2018</a>
                                        <p>Donec turpis erat, scelerisque id euismod sit amet, fermentum vel dolor.
                                            Nulla facilisi. Sed pellen tesque lectus et accu msan aliquam. Fusce
                                            lobortis cursus quam, id mattis sapien.</p>
                                    </div>
                                </div>
                                <ol class="children">
                                    <li class="single_comment_area">
                                        <!-- Comment Content -->
                                        <div class="comment-content d-flex">
                                            <!-- Comment Author -->
                                            <div class="comment-author">
                                                <img src="/img/bg-img/t2.jpg" alt="author">
                                            </div>
                                            <!-- Comment Meta -->
                                            <div class="comment-meta">
                                                <a href="#" class="post-author">Sandy Doe</a>
                                                <a href="#" class="post-date">April 15, 2018</a>
                                                <p>Donec turpis erat, scelerisque id euismod sit amet, fermentum vel
                                                    dolor. Nulla facilisi. Sed pellen tesque lectus et accu msan
                                                    aliquam. Fusce lobortis cursus quam, id mattis sapien.</p>
                                            </div>
                                        </div>
                                    </li>
                                </ol>
                            </li> --}}

                            <!-- Single Comment Area -->
                            {{#each this.comments}}
                            <li class="single_comment_area">
                                <!-- Comment Content -->
                                <div class="comment-content d-flex">
                                    <!-- Comment Author -->
                                    <div class="comment-author">
                                        <img src="{{avatar_url}}" alt="author">
                                    </div>
                                    <!-- Comment Meta -->
                                    <div class="comment-meta">
                                        <a class="post-author">{{name_user}}</a>
                                        <a class="post-date">{{formatTime time_comment "DD/MM/YYYY HH:mm"}}</a>
                                        <p>{{content_comment}}</p>
                                    </div>
                                </div>
                            </li>
                            {{/each}}

                        </ol>
                    </div>

                    {{#if isAuthenticated}}
                    <div class="post-a-comment-area">
                        {{!-- <h4 class="mb-70">Leave a comment</h4> --}}

                        <!-- Reply Form -->
                        <div class="contact-form-area">
                            <form action="/comment/post/{{this.post.id_post}}/{{this.post.url_post}}" method="POST">
                                <div class="row">
                                    <div class="col-12">
                                        <textarea name="content" class="form-control" id="content" cols="30"
                                            rows="10"></textarea>
                                    </div>
                                    <div class="col-12">
                                        <button class="btn viral-btn mt-30" type="submit">Gửi bình luận</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    {{/if}}

                    <br>
                    <!-- Related Articles Area -->
                    <div class="related-articles-">
                        <h4 class="mb-70">Bài viết cùng chuyên mục</h4>
                        <div class="row">
                            {{#each this.random5}}
                            <!-- Single Post -->
                            <div class="col-12 col-lg-12">
                                <div class="single-blog-post style-3 style-5 d-flex align-items-center mb-50">
                                    <!-- Post Thumb -->
                                    <div class="post-thumb">
                                        <a href="{{url_post}}"><img style="width: 508px; height: 293px;"
                                                src="{{url_thumbnail}}" alt=""></a>
                                    </div>
                                    <!-- Post Data -->
                                    <div class="post-data">
                                        <a href="/category/{{../this.post.url_category}}"
                                            class="post-catagory">{{../this.post.name_category}}</a>
                                        <a href="{{url_post}}" class="post-title">
                                            <h6>{{title_post}}</h6>
                                        </a>
                                        <div class="post-meta">
                                            <p class="post-author">Tag
                                                <a href="#">Avengers Endgame</a>, <a href="#">Tony Stark</a> </p>
                                            <p class="post-date">{{posted_at}}</p>
                                        </div>
                                        <p class="post-excerp">{{abstract}}</p>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
    <!-- ##### Blog Area End ##### -->
    {{/if}}