{{#section 'js'}}
  <script>
    $('.table').on('click', '.btn-delete-post', function () {
      var id = $(this).data('id');
      Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        type: 'warning',
        showConfirmButton: true,
        showCancelButton: true,
        confirmButtonText: 'Yes, delete it!',
        cancelButtonText: 'No, cancel!',
        confirmButtonColor: "#28a745",
        cancelButtonColor: "#dc3545",
        reverseButtons: true,
        focusConfirm: true,
        showCloseButton: true,

      }).then((result) => {
        if (result.value) {
          Swal.fire(
            'Deleted!',
            'Your post has been deleted.',
            'success'
          );
          window.location.href = '/admin/posts/delete/' + id;
        }
        else {
          Swal.fire(
            'Cancelled',
            'Your post has been retained!',
            'error'
          )
        }
      })
    });
  </script>
{{/section}}
<div class="card shadow">
  <h4 class="card-header">
    Posts
  </h4>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" class="text-center">#</th>
        <th scope="col">Title</th>
        <th>Người đăng</th>
        <th scope="col">Status</th>
        <th scope="col">of Category</th>
        <th scope="col" class="text-right">
          <a class="btn btn-outline-success" href="/admin/posts/add" role="button">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Add Post
          </a>
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each this.myposts}}
      <tr>
        <th scope="row" class="text-center">{{id}}</th>
        <td>{{title}}</td>
        <td>???</td>
        <td>
          {{#if status}}
          <p style="color: green; font-weight: bold;">
            Đã duyệt
          </p>
          {{else}}
          <p style="color: #ed5565; font-weight: bold;">
            Chưa duyệt
          </p>
          {{/if}}
        </td>
        <td>{{name_category}}</td>
        <td class="text-right">
          <a class="btn btn-primary btn-sm" href="/admin/posts/edit/{{id}}" role="button">
            <i class="fa fa-edit" aria-hidden="true"></i>
          </a>
          <button id="btn-delete" class="btn btn-danger btn-delete-post btn-sm" data-id="{{id}}" role="button">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>